@layer components {

  .learn {
    --base: 10px;

    padding: calc(var(--spacing) * 5);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-block-start: 0;
      margin-block-end: calc(var(--spacing) * 2);
      color: rgba(var(--primary-rgba));
    }

    h1 {
      font-size: calc(var(--base) * 3.2);
    }

    h2 {
      font-size: calc(var(--base) * 2.8);
    }

    h3 {
      font-size: calc(var(--base) * 2.2);
    }

    h4 {
      font-size: calc(var(--base) * 2);
    }

    h5 {
      font-size: calc(var(--base) * 1.8);
    }

    h6 {
      font-size: calc(var(--base) * 1.4);
    }

    :focus {
      outline: none;
    }

    :focus-visible {
      outline-offset: 3px;
      outline: 3px solid rgba(var(--primary-rgb), 0.35);
      border-radius: 1px;
    }
  }

  .button {
    --background-color: rgba(var(--primary-rgb), 0.075);
    background: var(--background-color);
    color: rgba(var(--primary-rgb), 1);
    border: 1px solid var(--background-color);
    border-radius: var(--rounded);
    padding: var(--inner-space);
    font-size: var(--font-sm);

    &:hover:not(:disabled) {
      --background-color: rgba(var(--primary-rgb), 0.12);
    }

    &.outline {
      background: transparent;
      border: 1px solid rgba(var(--primary-rgb), 0.8);
    }
  }

  .programming {
    margin-block: 40px;
  }

  .counter {
    margin-block: 20px;
  }
}